/*
COLORS:
   !YELLOW HEX = #F9DE41
   !YELLOW RGB = rgb(249,222,65)
   !GREEN HEX = #20C868
   !GREEN RGB = rgb(32,200,104)
   !BLUE HEX = #1675CE
   !BLUE RGB = rgb(22,117,206)
   !PURPLE HEX = #8E44B8
   !PURPLE RGB =  rgb(142,68,184)
   !PINK  HEX = #F352AF
   !PINK  RGB = rgb(243,82,175)
   !RED  HEX = #F52631
   !RED  RGB = rgb(245,38,49)
   !ORANGE  HEX = #FF9400
   !ORANGE  RGB = rgb(255,148,0)
   !GRAY  HEX = #DBDBDB
   !GRAY  RGB = rgb(219,219,219)
*/

body{
   background-color: #1675CE;
}

button:focus, input:focus{
   outline: none;
}

*{
   /* border: 1px solid red; */
   font-family: 'Source Sans Pro', sans-serif;
}

.main__container{
   height: 100vh;
}

.login{
   /* border: 1px solid red; */
   width: 100vw;
   height: 100vh;
   max-height: 750px;
}

.login__title{
   width: 360px;
   height: 70%;
}

.title__span{
   /* border: 1px solid red; */
   width: 100%;
   font-size: 56px;
   color: white;
   font-weight: 100;
   line-height: 70px;
}

div .title__span:nth-child(2){
   font-size: 120px;
   font-weight: 900;
}

.login__menu{
   /* border: 1px solid red; */
   height: 30%;
}

.login__menu--username{
   border: 1px solid white;
   border-radius: 10px;
   width: 300px;
   background: none;
   text-align: center;
   color: white;
   font-size: 24px;
   font-weight: 200;
}

.login__menu--username::placeholder{
   color: rgba(255, 255, 255, 0.5);
}

.login__menu--button{
   width: 200px;
   height: 50px;
   background: #F9DE41;
   border: none;
   border-radius: 10px;
   color: white;
   font-size: 32px;
   font-weight: 900;
}
