/*
COLORS:
   !YELLOW HEX = #F9DE41
   !YELLOW RGB = rgb(249,222,65)
   !GREEN HEX = #20C868
   !GREEN RGB = rgb(32,200,104)
   !BLUE HEX = #1675CE
   !BLUE RGB = rgb(22,117,206)
   !PURPLE HEX = #8E44B8
   !PURPLE RGB =  rgb(142,68,184)
   !PINK  HEX = #F352AF
   !PINK  RGB = rgb(243,82,175)
   !RED  HEX = #F52631
   !RED  RGB = rgb(245,38,49)
   !ORANGE  HEX = #FF9400
   !ORANGE  RGB = rgb(255,148,0)
   !GRAY  HEX = #DBDBDB
   !GRAY  RGB = rgb(219,219,219)
*/

body {
   background-color: #1675CE;
}

button:focus,
input:focus {
   outline: none;
}

* {
   font-family: 'Source Sans Pro', sans-serif;
}

.main__container {
   position: relative;
   height: 100vh;
   overflow: hidden;
   width: 100vw;
}

/*? ========= LOGIN SCREEN ========= ?*/

.login {
   width: 100vw;
   height: 100vh;
   max-height: 750px;
}

.login__title {
   width: 90%;
   max-width: 360px;
   height: 70%;
}

.title__span {
   /* border: 1px solid red; */
   width: 100%;
   font-size: 56px;
   color: white;
   font-weight: 100;
   line-height: 70px;
}

div .title__span:nth-child(2) {
   font-size: 120px;
   font-weight: 900;
}

div .title__span:nth-child(2) span:nth-child(1) {
   color: #F9DE41;
}

div .title__span:nth-child(2) span:nth-child(2) {
   color: #F352AF;
}

div .title__span:nth-child(2) span:nth-child(3) {
   color: #20C868;
}

div .title__span:nth-child(2) span:nth-child(4) {
   color: #F52631;
}

.login__menu {
   height: 30%;
}

.login__menu--username,
.chat__form--message {
   border: 1px solid white;
   border-radius: 10px;
   width: 300px;
   background: none;
   text-align: center;
   color: white;
   font-size: 24px;
   font-weight: 200;
}

.login__menu--username::placeholder,
.chat__form--message::placeholder {
   color: rgba(255, 255, 255, 0.5);
}

.login__menu--button,
.chat__form--button,
.question__btn {
   width: 200px;
   height: 50px;
   background: #F9DE41;
   border: none;
   border-radius: 10px;
   color: white;
   font-size: 32px;
   font-weight: 900;
   transition: 0.3s ease;
}

.login__menu--button:hover,
.chat__form--button:hover,
.question__btn:hover {
   transform: scale(1.03);
   box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.15);
   transition: 0.3s ease;
}

.login__menu--button:active,
.chat__form--button:active,
.question__btn:active {
   transform: scale(1);
   box-shadow: none;
   transition: 0.1s ease;
}

#imgImport {
   width: 0.1px;
   height: 0.1px;
   opacity: 0;
   overflow: hidden;
   position: absolute;
   z-index: -1;
}

.login__menu--importPic {
   font-size: 14px;
   font-weight: 600;
   color: #fff;
   display: inline-block;
   transition: all .5s;
   cursor: pointer;
   text-transform: uppercase;
   width: fit-content;
   text-align: center;
}


/*? ========== CONFRIM DISPLAY ========== ?*/

.confirm {
   height: 40%;
   max-height: 300px;
   min-height: 200px;
   width: 80%;
   max-width: 500px;
   background-color: white;
   border-radius: 10px;
   box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
}

.confirm__innner {
   height: 50%;
   min-height: 160px;
   width: 100%;
}

.confirm__inner--message {
   font-size: 32px;
   text-align: center;
   font-weight: 100;
}

.confirm__inner--message>span {
   color: #8E44B8;
   font-weight: 600;
}

.confirm__inner--buttons {
   width: 80%;
}

.confirm__inner--buttons button {
   border: none;
   border-radius: 10px;
   width: 45%;
   height: 40px;
   color: white;
   font-size: 24px;
   transition: 0.2s ease;
}

.confirm__inner--buttons button:hover,
.profile__container--enter:hover {
   transform: scale(1.05);
   box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.2);
   transition: 0.2s ease;
}

.confirm__inner--buttons button:active,
.profile__container--enter:active {
   border: none;
   transform: scale(1);
   box-shadow: none;
   transition: 0.1s ease;
}

.confirm__inner--buttons button:nth-child(1) {
   background-color: #F52631;
}

.confirm__inner--buttons button:nth-child(2) {
   background-color: #20C868;
}

/*? ========= PROFILE DISPLAY ========== ?*/

.profile {
   height: 90%;
   width: 100vw;
   flex-grow: 1;
}

.profile__container {
   /* border: 1px solid yellow; */
   height: 100%;
   max-height: 650px;
   width: 100%;
}

.profile__container__info {
   width: 100%;
   max-height: 500px;
   height: 80%;
   max-width: 400px;
   background-color: white;
   border-radius: 15px;
   box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
}

.profile__container__info--img {
   height: 120px;
   width: 120px;
   border-radius: 50%;
   overflow: hidden;
   background-color: #F9DE41;
}

.profile__container__info--graph {
   border-bottom: 1px solid rgb(29, 29, 29, 0.5);
   height: 120px;
   width: 100%;
   max-width: 250px;
}

.profile__container__info--graph>div {
   width: 50%;
   height: 100%;
}

.profile__container__info--graph>div>div {
   width: 20px;
   transition: height 1s ease-in-out;
   -webkit-transition: height 1s ease-in-out;
   -moz-transition: height 1s ease-in-out;
   -ms-transition: height 1s ease-in-out;
   -o-transition: height 1s ease-in-out;
}

.profile__container__info--graph>div>div:first-child {
   background-color: #20C868;
   height: 0%;
}

.profile__container__info--graph>div>div:nth-child(2) {
   background-color: #F52631;
   height: 0%;
}

.profile__container__info--graph>span {
   font-size: 48px;
   font-weight: 100;
}

.profile__container__info--values {
   font-size: 22px;
   font-weight: 700;
   width: 100%;
}

.profile__container__info--values>span {
   width: 100%;
}

.profile__container__info--values>span>span {
   display: inline-block;
   width: 49%;
}

.profile__container__info--values>*>span:first-child {
   text-align: right;
}

.profile__container__info--values>*>span:last-child {
   font-weight: 300;
}

.profile__container--enter {
   width: 95%;
   max-width: 400px;
   height: 65px;
   border: none;
   border-radius: 10px;
   background-color: #F9DE41;
   color: white;
   font-weight: 700;
   font-size: 32px;
   transition: 0.3s ease;
}

/*? ======== MENU ======== ?*/

.menu {
   height: 10%;
   max-height: 55px;
   width: 100%;
   border-radius: 10px 10px 0 0;
   background: white;
   z-index: 100;
   /* position: absolute; */
}

.menu button {
   background: none;
   border: none;
   height: 100%;
   width: 70px;
   transition: 0.2s ease;
   position: relative;
}

.menu button:hover {
   transform: scale(1.1);
   transition: 0.2s ease;
}

.menu__icon {
   fill: #1675CE;
   transition: 0.1s ease;
}

.menu button:hover svg {
   fill: #F9DE41;
   transition: 0.1s ease;
}

#profileBtn {
   border-radius: 50%;
   overflow: hidden;
   height: 47px;
   width: 47px;
   background-color: #F9DE41;
}

.menu__chat__notification {
   height: 10px;
   width: 10px;
   background: red;
   position: absolute;
   border-radius: 50%;
   right: 10px;
   top: 5px
}


/*? ======== CHAT - RANKING (.questions) ======== ?*/

.chat,
.ranking,
.questions {
   position: absolute;
   left: 0;
   top: 100%;
   width: 100%;
   z-index: 90;
   height: calc(100% - 75px);
   background-color: #1675CE;
   transition: top .7s ease-in-out;
   -webkit-transition: top .7s ease-in-out;
   -moz-transition: top .7s ease-in-out;
   -ms-transition: top .7s ease-in-out;
   -o-transition: top .7s ease-in-out;
}

.chat.open,
.ranking.open {
   top: 0;
}


.chat__box,
.ranking__box {
   height: calc(100% - 50px);
   overflow-y: auto;
}

.chat__form {
   /* background-color: #F352AF; */
   width: 100%;
   height: 50px;
}

.chat__form--message {
   width: 80%;
   height: 100%;
   font-size: 16px;
   text-align: left;
   padding: 0 8px;
}

.chat__form--button {
   width: 15%;
   height: 100%;
   font-size: calc(10px + 1.5vw);
   background-color: #20C868;
}

.msg,
.rkg {
   width: 100%;
}

.rkg {
   max-width: 400px;
   margin: 0 auto;
}

.msg__user,
.rkg__user {
   width: 50px;
   height: 50px;
   background: url("../img/PROFILE-PIC-ROUND-01.png");
   background-size: cover;
   background-position: center;
   border-radius: 50%;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
}

.msg.sent .msg__user {
   order: 2;
}


.msg__content,
.rkg__content {
   position: relative;
   width: calc(100% - 80px);
   background-color: rgb(191, 200, 240);
   box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
}

.rkg__content {
   text-align: center;
}

.msg.received .msg__content::after,
.msg.sent .msg__content::after {
   content: "";
   position: absolute;
   top: 20px;
   right: calc(100% - 1px);
   width: 10px;
   height: 10px;
   background-color: rgb(191, 200, 240);
   transform: translateX(50%) rotate(45deg);
   -webkit-transform: translateX(50%) rotate(45deg);
   -moz-transform: translateX(50%) rotate(45deg);
   -ms-transform: translateX(50%) rotate(45deg);
   -o-transform: translateX(50%) rotate(45deg);
   border-radius: 2px;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   -ms-border-radius: 2px;
   -o-border-radius: 2px;
}

.msg.sent .msg__content::after {
   top: 20px;
   right: 1px;
}

.rkg .rkg__content::after {
   content: "";
   position: absolute;
   top: 0;
   left: 15px;
   width: 25px;
   height: 25px;
   border-radius: 50%;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
}

.self {
   text-align: right;
}

/*? ======== QUESTIONS ======== ?*/

.questions {
   top: -100%;
   background: rgb(22, 117, 206);
   background: linear-gradient(0deg, rgba(22, 117, 206, 1) 0%, rgba(145, 86, 179, 1) 66%, rgba(193, 14, 140, 1) 100%);
   z-index: 80;
}

.question__container,
.countdown {
   position: relative;
   height: 100%;
}

.countdown__number {
   display: inline-block;
   position: absolute;
   top: 50%;
   left: 50%;
   font-size: 15vh;
   opacity: 1;
   font-weight: 900;
   transform: translate(-50%, -50%);
   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   -o-transform: translate(-50%, -50%);
   animation: countdown 1s ease-in-out infinite;
   -webkit-animation: countdown 1s ease-in-out infinite;
}

[data-color="3"] {
   color: rgb(245, 38, 49);
}

[data-color="2"] {
   color: rgb(249, 222, 65);
}

[data-color="1"] {
   color: rgb(32, 200, 104);
}

.question__container {
   position: absolute;
   top: -100%;
   left: 0;
   width: 100%;
   height: 100%;
   transition: top .7s ease-in-out;
   -webkit-transition: top .7s ease-in-out;
   -moz-transition: top .7s ease-in-out;
   -ms-transition: top .7s ease-in-out;
   -o-transition: top .7s ease-in-out;
}

.question {
   position: relative;
   height: 50%;
   margin: 0 auto;
}

.questions.open,
.question__container.open {
   top: 0;
   transition: top .7s ease-in-out;
   -webkit-transition: top .7s ease-in-out;
   -moz-transition: top .7s ease-in-out;
   -ms-transition: top .7s ease-in-out;
   -o-transition: top .7s ease-in-out;
}

.time {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 10px
}

.seconds {
   display: inline-block;
   width: 100%;
   height: 100%;
   background-color: #20C868;
   transition: all 1s linear;
   -webkit-transition: all 1s linear;
   -moz-transition: all 1s linear;
   -ms-transition: all 1s linear;
   -o-transition: all 1s linear;
}

.paper {
   position: relative;
   height: 80%;
   background: #fff;
   padding: 30px;
   z-index: 1;
}

.paper,
.paper::before,
.paper::after {
   box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
   border-radius: 3px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -ms-border-radius: 3px;
   -o-border-radius: 3px;
}

.paper:before,
.paper::after {
   content: "";
   position: absolute;
   top: 0px;
   left: -5px;
   height: 95%;
   width: 100%;
   background-color: #eee;
   box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.28);

}

.paper::before {
   right: 15px;
   top: 0;
   z-index: -1;
   transform: rotate(-1deg);
   -webkit-transform: rotate(-1deg);
   -moz-transform: rotate(-1deg);
   -ms-transform: rotate(-1deg);
   -o-transform: rotate(-1deg);
}

.paper::after {
   top: 5px;
   right: -5px;
   z-index: -2;
   transform: rotate(2deg);
   -webkit-transform: rotate(2deg);
   -moz-transform: rotate(2deg);
   -ms-transform: rotate(2deg);
   -o-transform: rotate(2deg);
}

.question h2 {
   position: absolute;
   top: 50%;
   left: 49%;
   width: 90%;
   text-align: center;
   /* font-size: 30px; */
   font-size: calc(12px + 1.5vw);
   transform: translate(-50%, -50%);
   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   -o-transform: translate(-50%, -50%);
}

.question__category,
.question__number {
   display: inline-block;
   position: absolute;
   top: -15px;
   left: 10px;
   font-size: 12px;
   color: #fff;
   background-color: rgba(22, 117, 206, 0.884);
   box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.28);
   border-radius: 3px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -ms-border-radius: 3px;
   -o-border-radius: 3px;
}

.question__number {
   left: calc(100% - 55px);
}

.answers {
   height: 50%;
}

.question__btn {
   position: relative;
   top: -100px;
   opacity: 0;
   width: 100%;
   max-width: 400px;
   height: auto;
   margin: 5px auto;
   background: rgba(175, 145, 223, 0.5);
   font-size: calc(12px + 1.5vw);
   font-weight: 400;
}

.question__btn:hover {
   background-position: right center;
}

/*? ======== KEYFRAMES ======== ?*/

@keyframes countdown {
   50% {
      font-size: 15vh;
      opacity: 1;
   }

   100% {
      font-size: 50vh;
      opacity: 0;
   }
}

@keyframes appear {
   50% {
      top: -100px;
      opacity: 0;
   }

   100% {
      top: 0;
      opacity: 1;
   }
}


/*? ======== MEDIA QUERIES ======== ?*/


@media (max-height: 380px) {
   .profile__container__info {
      flex-direction: row !important;
   }

   .profile__container__info--img {
      height: 50px;
      width: 50px;
   }

   .profile__container__info--values {
      max-width: 120px;
   }

   .profile__container__info--graph {
      height: 60px;
      max-width: 250px;
   }

   .profile__container__info--graph>span {
      font-size: 32px;
   }
}

@media (max-height: 668px) {
   .profile__container__info--values {
      font-size: 15px;
   }

   .profile__container__info--graph {
      height: 60px;
      max-width: 250px;
   }

   .profile__container__info--graph>span {
      font-size: 32px;
   }
}